<header id="main-nav">
 
  <div class="row">
    
      <h2 id="logo">{{#linkTo "index"}}<a href="#">idas blue</a>{{/linkTo}}</h2>

            {{#if controllers.users.myUser.firstObject.name}}
        <div class="text-right">
          <h3 id="my-username-title">{{#linkTo "profile" tagName="auth"}}<a href="#">{{controllers.users.myUser.firstObject.name}}</a>{{/linkTo}}</h3>
        </div>
      {{else}}
      <div class="text-right">
          <h3 id="my-username-title">{{#linkTo "profile" tagName="auth"}}<a href="#">authenticate yourself</a>{{/linkTo}}</h3>
        </div>
      {{/if}}


  </div>    
</header> 

<main>
  <div class="row">
    <div class="mainbody">

      {{outlet}}
    </div>
  </div>
</main>

<footer class="footer">
  <p>
    this is released under an 
    <a href="http://www.debian.org/legal/licenses/mit" target="_blank">MIT</a> license. github <a href="github.com/csmpls/idas-blue">here</a>.
  </p>
</footer>
