<header id="main-nav">
  <div class="row">
    <div class="span2 offset1">
      <h2 id="logo">{{#linkTo "index"}}<a href="#">idas blue</a>{{/linkTo}}</h2>
    </div>
    <div class="span7">
      {{#if controllers.users.myUser.firstObject.name}}
        <div class="text-right">
          <h3 id="my-username-title">{{#linkTo "profile"}}<a href="#">{{controllers.users.myUser.firstObject.name}}</a>{{/linkTo}}</h3>
        </div>
      {{else}}
      <div class="text-right">
          <h3 id="my-username-title">{{#linkTo "profile"}}<a href="#">authenticate yourself</a>{{/linkTo}}</h3>
        </div>
      {{/if}}

    </div>
  </div>
</header>

<main>
  <div class="row">
    <div class="span7 mainbody">
      {{outlet}}
    </div>
  </div>
</main>

<footer class="footer">
  <p>
    Code licensed under
    <a href="http://www.debian.org/legal/licenses/mit" target="_blank">MIT</a>
  </p>
  <ul class="footer-links">
    <li><a href="http://vole.cc/">Site</a></li>
    <li class="muted">·</li>
    <li><a href="https://github.com/vole/vole/issues">Issues</a></li>
  </ul>
</footer>
